<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>mnilsson/mnslideshow @ GitHub</title>
        <link rel="stylesheet" href="main.css" type="text/css" media="screen" charset="utf-8">
        {% if page.example_head %}
        {% include example_head.html %}
        {% endif %}
    </head>

    <body>

        <a href="http://github.com/mnilsson/mnslideshow"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>

        <div id="header">
            <div id="header-content">
                <h1><a href="http://mnilsson.github.com/mnslideshow">mnslideshow</a></h1>
                <div class="download">
                <a href="http://github.com/mnilsson/mnslideshow/zipball/master">
                  <img  width="90" src="http://github.com/images/modules/download/zip.png"></a>
                <a href="http://github.com/mnilsson/mnslideshow/tarball/master">
                  <img  width="90" src="http://github.com/images/modules/download/tar.png"></a>
                </div>
            </div>
        </div>
        <div id="content">
            {{ content }}        
        </div>
        <div class="footer">
            get the source code on GitHub : <a href="http://github.com/mnilsson/mnslideshow">mnilsson/mnslideshow</a>
        </div>
        <script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-7706492-2']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
        </script>

    </body>
</html>